page-profile {
	.profile-picture {
		margin: -17px;
		background: #4989fc;
		text-align: center;
		padding: 2em 0;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
	}
	.text-input[disabled] {
		opacity: .7;
	}
	#profile-form {
		padding-top: 20px;
	}
}
