<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Notices
		</ion-title>
	</ion-navbar>
	<ion-toolbar no-border-top class="toolbar-segment">
		<ion-segment [(ngModel)]="query" (ionChange)="showdata()">
			<ion-segment-button value="all">
				All
			</ion-segment-button>
			<ion-segment-button value="year">
				Year
			</ion-segment-button>
			<ion-segment-button value="dept">
				Department
			</ion-segment-button>
			<ion-segment-button value="class">
				Class
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab right bottom  #fab>
		<button ion-fab color="secondary" (click)='toggleFab()'><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab (click)='addNewNotice(fab)' *ngIf="is_admin">
				<ion-icon name="create"></ion-icon>
				<ion-label>Create new</ion-label>
			</button>
			<button ion-fab>
				<ion-icon name="paper-plane"></ion-icon>
				<ion-label>Send feedback</ion-label>
			</button>
			<button ion-fab>
				<ion-icon name="share"></ion-icon>
				<ion-label>Share App</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>
	<ion-refresher (ionRefresh)="getNotices($event)">
		<ion-refresher-content pullingText="Pull to refresh" refreshingText="Fetching...">
			></ion-refresher-content>
	</ion-refresher>
	<ion-slides (ionSlideDidChange)="slideChanged()">
		<ion-slide>
			<ion-card *ngFor="let notice of noticesAll" text-left>
				<ion-item no-lines>
					<ion-avatar item-start>
						<img src="assets/img/placeholder.png">
					</ion-avatar>
					<h2>{{ notice.notice_author }}</h2>
					<p>{{ notice.notice_valid_till | date:"dd MMM, yyyy"}}</p>
				</ion-item>
				<ion-card-header>
					{{notice.notice_name}}
				</ion-card-header>
				<ion-card-content>
					{{notice.notice_desc}}
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card *ngFor="let notice of noticesYear" text-left>
				<ion-item no-lines>
					<ion-avatar item-start>
						<img src="assets/img/placeholder.png">
					</ion-avatar>
					<h2>{{ notice.notice_author }}</h2>
					<p>{{ notice.notice_valid_till | date:"MM/dd/yy"}}</p>
				</ion-item>
				<ion-card-header>
					{{notice.notice_name}}
				</ion-card-header>
				<ion-card-content>
					{{notice.notice_desc}}
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card *ngFor="let notice of noticesDept" text-left>
				<ion-item no-lines>
					<ion-avatar item-start>
						<img src="assets/img/placeholder.png">
					</ion-avatar>
					<h2>{{ notice.notice_author }}</h2>
					<p>{{ notice.notice_valid_till | date:"MM/dd/yy"}}</p>
				</ion-item>
				<ion-card-header>
					{{notice.notice_name}}
				</ion-card-header>
				<ion-card-content>
					{{notice.notice_desc}}
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-card *ngFor="let notice of noticesClass" text-left>
				<ion-item no-lines>
					<ion-avatar item-start>
						<img src="assets/img/placeholder.png">
					</ion-avatar>
					<h2>{{ notice.notice_author }}</h2>
					<p>{{ notice.notice_valid_till | date:"MM/dd/yy"}}</p>
				</ion-item>
				<ion-card-header>
					{{notice.notice_name}}
				</ion-card-header>
				<ion-card-content>
					{{notice.notice_desc}}
				</ion-card-content>
			</ion-card>
		</ion-slide>
	</ion-slides>
</ion-content>
