<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{title}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-fab right bottom #fab>
		<button ion-fab color="secondary">
			<ion-icon name="add"></ion-icon>
		</button>
		<ion-fab-list side="top">
			<button ion-fab (click)='addNewNotice(fab)' *ngIf="is_admin">
				<ion-icon name="create"></ion-icon>
				<ion-label>Create new</ion-label>
			</button>
			<button ion-fab>
				<ion-icon name="paper-plane"></ion-icon>
				<ion-label>Send feedback</ion-label>
			</button>
			<button ion-fab (click)='shareNotice()'>
				<ion-icon name="share"></ion-icon>
				<ion-label>Share App</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>
	<ion-refresher (ionRefresh)="getNotices($event)">
		<ion-refresher-content pullingText="Pull to refresh" refreshingText="Fetching...">
			></ion-refresher-content>
	</ion-refresher>
	<ion-item no-lines class="error" text-center text-wrap *ngIf="is_notices">
		<img src="assets/img/error.png" class="error-image"/>
		<h1>No Notices yet!</h1>
		<p class="error-msg">Check your internet connection.</p>
		<p class="error-msg">And make sure you've filled your profile perfectly.</p>
		<div class="spacer"></div>
		<button ion-button outline round color="danger" (click)='addNewNotice(fab)' *ngIf="is_admin">
			<ion-label>Create new</ion-label>
		</button>
	</ion-item>
	<ion-card *ngFor="let notice of notices">
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/img/placeholder.png">
			</ion-avatar>
			<ion-row>
				<ion-col>
					<h2>{{ notice.notice_author }}</h2>
					<p>{{ notice.notice_publish_date | date:"dd MMM, yyyy"}}</p>
				</ion-col>
				<ion-col>
					<button ion-button clear icon-start float-right *ngIf="notice.notice_file" class="attachment-icon">
						<ion-icon name="attach"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-item>
		<ion-card-content (click)="datailsPage(notice)">
			<ion-card-title>
				{{notice.notice_name}}
			</ion-card-title>
			<p>
				{{notice.notice_desc}}
			</p>
		</ion-card-content>
		<ion-row>
			<ion-col>
				<button ion-button clear small icon-start>
					<ion-icon name="star"></ion-icon>
					<div>Favorite</div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button clear small icon-start (click)='shareNotice(notice)'>
					<ion-icon name='share-alt'></ion-icon>
					Share
				</button>
			</ion-col>
			<ion-col center text-center class="time">
				<ion-note>
					11h ago
				</ion-note>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
