page-all,
page-class,
page-year,
page-department {
	.content-md {
		background: #eee;
	}
	.time {
		align-items: center;
		justify-content: center;
		display: flex;
	}
	.attachment-icon {
		font-size: 2rem;
	}
	.error-image {
		padding: 5em;
		padding-bottom: 1em;
	}
	.error {
		background: #eee;
		.error-msg {
			font-size: 1.2em;
		}
		.spacer{
			height: 10px;
		}
	}
}
