<ion-split-pane>
	<!-- logged in menu -->
	<ion-menu id="menu" [content]="content">

		<ion-header>
			<div class="user-profile-sidemenu">
				<div class="user-avatar" (click)="openPage(appPages[1])">
					<img src="assets/img/placeholder.png" alt="avatar">
				</div>
				<div class="user-info" (click)="openPage(appPages[1])">
					<p><b [innerHTML]="username"></b></p>
					<p [innerHTML]="email"></p>
				</div>
			</div>

		</ion-header>

		<ion-content class="outer-content">
			<ion-list *ngIf="is_admin">
				<ion-list-header>
					Admin
				</ion-list-header>
				<button ion-item menuClose *ngFor="let p of adminPages" (click)="openPage(p)">
					<ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
					{{p.title}}
				</button>
			</ion-list>
			<ion-list>
				<!-- <ion-list-header>
				  Menu
				</ion-list-header> -->
				<button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)" >
				<ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
				{{p.title}}
				</button>
			  </ion-list>
		</ion-content>

	</ion-menu>
	<ion-nav [root]="rootPage" #content main name="app"></ion-nav>
</ion-split-pane>
