page-signup {
	.item-md{
		background-color: transparent;
	}
	.item-input .label-md{
		color: white;
	}
	#logo-img{
		display:block;
		width:40%;
		height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-top: 20px;
	}
}
