page-thanks-signup {
	text-align: center;
	.thanks-image{
		margin: 2em;
		img{
			background: #f8f8f8;
			border-radius: 50%;
		}
	}
	.about-info{
		.welcome-aboard{
			font-size: 1.15em;
			color: #535353;
			padding: 1em;
		}
	}
}
